body {
    background-color: rgb(165, 190, 165);
    font-family: Roboto, sans-serif;
    align-items: center;

}

.main{
    background-color: white;
    margin-bottom: 20%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 2%;
    padding: 10px;
    position: relative;
}

.header-right {
    display: flex;
    padding: 1px;
    justify-content: center;
}

.post-header{
  display: flex;
  justify-content: space-between;   /* pushes items to opposite ends */
  padding: 10px;
}

.post-header-left {
  display: flex;
}

.post-icons{
  display: flex;
  justify-content: space-between; /* pushes items to opposite ends */
  padding: 5px;
}

.post-icons-left {
  display: flex;
}