body {
    background-color: rgb(8, 41, 8);
    font-family: Roboto, sans-serif;
    align-items: center;

}

.main{
    background-color: white;
    margin-bottom: 20%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 2%;
    padding: 10px;
    position: relative;;

}

.post-header{
    display: flex;
    padding-bottom: 1%;

}

.post-icons{
    display: flex;

}

.header-right-side{
    display: flex;

}

.post-body{
    display: flex;
    padding-top: 1px;
    
}

.post-icons{
  display: flex;
  justify-content: space-between; /* pushes items to opposite ends */
  align-items: center; /* optional: vertically align them */
  padding: 5px;
  
}

.post-icons-left {
  display: flex;
  
}

.post-icons-right {
  padding: 1px;
}


.post-header{
  display: flex;
  justify-content: space-between;   /* pushes items to opposite ends */
  align-items: left; /* optional: vertically align them */
  padding: 10px;
  
}

.post-header-left {
  display: flex;
  
}

.header-right {
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: right;
}







/* .main{
    display:flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0.5rem; */
}